<%- include("partials/header") %> 
<%- include("partials/navbar"); %>
<%- include("partials/floating-btn") %> 

<div class="page">
    <div class="banner about-banner">
        <h1>About Us</h1>
    </div>

    <div class="content-area">
        <div class="content">
            <p>
                We understand how difficult it is to choose a quality auto body shop that excels in customer 
                service in the Baltimore city. Big collision repair centers have moved further into the suburbs 
                due to space, cost constraint and safety for its customers. A similar dilemma with the premier 
                grocery stores that they are a rarity in the city.  

                <br><br>
                Not us. A new niche is created after doing painstaking research to find a perfect facility in the 
                Federal Hill area. The one time warehouse has been rehabilitated to serve you better while enjoying 
                the amenities the city has to offer. We are now a true ONE STOP SHOP in the area combining collison 
                repair and general mechanical repairs with state of the art equipment!

                <br><br>
                <span class="emphasize-txt">Bumper Globe</span> strives to provide a relaxing environment for you and our employees with a combined of 
                over 60 years of collision industry experience. As result, top notched service can be attained to restore 
                your vehicle to pre-accident condition in a timely fashion and be environmentally friendly. The bottom line 
                is we are going to take a good care of you and your vehicle!  

                <br><br>
                At <span class="emphasize-txt">Bumper Globe Collision Centre</span>, we're dedicated to making sure our repair processes and equipment meet 
                the highest standards for health safety and environmental protection. We’re constantly researching new ways 
                to change the industry as well as the way we interact with our environment.

                <br><br>
                In March 2010, we incorporated the eco-friendly waterborne refinishing system into our processes.  
                Waterborne refinishing eliminates mass of harmful solvent byproduct. This is an exciting moment for 
                us to think Green from this point forward!  
            </p>
        </div>
    </div>
</div>

<%- include("partials/footer-content") %> 
<%- include("partials/footer") %> 