<%- include("partials/header") %> 
<%- include("partials/navbar"); %>
<%- include("partials/floating-btn") %> 

<div class="page">
    <div class="banner faq-banner">
        <h1>FAQ</h1>
    </div>

    <div class="content-area">
        <div class="content">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <p class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Where do I get a claim number?
                    </button>
                  </p>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Claim numbers are issued by your insurance company at the time you report your accident. Just jot it down and bring 
                        it in when you come to begin the repair process.  Bumper Globe Collision Centre will do the rest.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <p class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Are you open on Saturday?
                    </button>
                  </p>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Yes, we are open 9AM - 12PM on Saturday for limited service.  Making an appointment is recommended for estimate and full car detail.  
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <p class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Will the parts be ordered before I drop off my car for repair?
                    </button>
                  </p>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Absolutely. We generally order your vehicle's parts at the time we write the estimate. We typically schedule your vehicle for drop-off 
                        a days after the initial estimate, unless it’s found unsafe to drive.  If that is the case, we will help you arrange for a rental vehicle 
                        as soon as possible. This enables us to provide a faster turnaround time and aids to maximize our work flow space.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Who is your preferred towing company to have my car towed?
                      </button>
                    </p>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        Auto Barn 24 Hour Rollback Towing <a class="in-line-a" href="tel:410-362-0117">410-362-0117</a>.  Instruct the towing driver to transport your car to Bumper Globe Collision anytime. 
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        If my vehicle's frame is damaged is the car a total loss?
                      </button>
                    </p>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        No. A car is a total loss only when the price of repairs exceeds the insurance company's determined value of your vehicle. 
                        Nowadays, most cars are built using unibody (frame and body as one) construction.  Our highly skilled technicians, 
                        with the aid of our state-of-the-art Car-O-Liner Cartronics and Chief Velocity computer measuring systems, can return 
                        your vehicle to its original factory specifications.  If it is determined that the frame section is bent beyond repair, 
                        that section can simply be replaced. 
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        Can you match my car paint color?
                      </button>
                    </p>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        Today's modern factory finishes incorporate multiple layers of highly specialized paints. 
                        Bumper Globe Collision Centre has made a major investment in the finest European made CMC full downdraft spray 
                        booth with baking and PPG paint system available and constantly upgrades its technology and equipment to ensure 
                        that each vehicle's paint matches. We take special pride in our ability to match factory finishes as the final 
                        step in the restoration process. 
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingSeven">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                        Can I get other service work done on my car while it is in the body shop?
                      </button>
                    </p>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        Yes. Just let your advisor know what other work you would like done so that he or she can make the necessary arrangements.  
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingEight">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                        How long will the repairs take?
                      </button>
                    </p>
                    <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        Your advisor can give you an estimate of the time it will take to complete the repairs to your vehicle. 
                        Be sure to check with your advisor for the specifics on your vehicle.
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingNine">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                        Can I get a ride home when I drop off my car?
                      </button>
                    </p>
                    <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        Yes, we would be happy to provide this service to you. We want each customer's visit to be a positive experience and will 
                        work diligently toward that goal.  We provide both a pickup and delivery service. 
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingTen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                        How can I get a rental car?
                      </button>
                    </p>
                    <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        If you need a rental car, we can help you make the necessary arrangements. On site Enterprise rental is available upon request. 
                        Insurance companies will only pay for a rental car if you have that option on your policy or if you are the claimant.  
                        Check your policy and/or call your insurance company to find out if you have rental coverage and what your specific limitations are.
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingEleven">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                        How will I know when my car is done?
                      </button>
                    </p>
                    <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        You will be notified when your vehicle is ready to be picked up. We will call, email, or text you with the latest status 
                        on your vehicle. Feel free to call or e-mail your advisor during the repair process if you have questions or concerns.
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingTwelve">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                        Is there a warranty on the repairs to my vehicle?
                      </button>
                    </p>
                    <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        Yes. Bumper Globe Collision Centre guarantees all repairs with a Limited Lifetime Warranty to body repairs and 
                        painting.  All mechanical repairs are warranted for 90 days.  Parts warranty vary each manufacturer. 
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingThirteen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
                        Do I have to pay a deductible?
                      </button>
                    </p>
                    <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        The amount of deductible that you will be responsible for is determined by your insurance policy.  
                        If you carry broad collision, and you were not at fault, your insurance company most likely will 
                        waive your deductible. Insurance companies determine fault by your account of the accident when you make the claim, 
                        and by reviewing the accident report filed with the police department. If you aren't sure about your deductible, 
                        you can call your agent and he or she will tell you whether your insurance company has waived your deductible or whether 
                        you will be responsible to pay this when you pick up your vehicle. 
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingFourteen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
                        To whom do I pay a deductible to?
                      </button>
                    </p>
                    <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        If your deductible is not waived, it will be your responsibility to pay Bumper Globe Collision Centre when you pick up your vehicle. 
                        If you aren't sure about your deductible, you can call your agent and he or she will tell you whether your insurance company has waived 
                        your deductible or whether it will be your responsibility.
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingFifteen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
                        What forms of payment do you accept?
                      </button>
                    </p>
                    <div id="flush-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFifteen" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        The easiest and most convenient way to pay for your portion of the repairs to your vehicle is with a major credit card. 
                        We accept American Express, Visa, MasterCard & Discover. Of course, cash and checks are always welcome.
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingSixteen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen" aria-expanded="false" aria-controls="flush-collapseSixteen">
                        What are Betterment Charges?
                      </button>
                    </p>
                    <div id="flush-collapseSixteen" class="accordion-collapse collapse" aria-labelledby="flush-headingSixteen" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        Parts that wear out and need replacement with time and use (i.e., tires, batteries, and suspension parts) are commonly subject to betterment 
                        charges when they are replaced during the repair process. These betterment charges are determined by your insurance company and are pro-rated 
                        based on the actual miles on your vehicle.
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <p class="accordion-header" id="flush-headingSeventeen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventeen" aria-expanded="false" aria-controls="flush-collapseSeventeen">
                        Can I wash my car?
                      </button>
                    </p>
                    <div id="flush-collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="flush-headingSeventeen" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <strong>RECOMMENDATIONS AND PRECAUTIONS IN THE FIRST 30 DAYS</strong>
                        <br>
                        <strong>DO -</strong> 
                        <ul>
                            <li>Wash the vehicle by hand with cool water and a very mild car wash solution using a soft cloth or sponge.</li>
                            <li>Always use clean fresh water.</li>
                            <li>Wash your vehicle in the shade.</li>
                        </ul>
                        <strong>DON'T -</strong>
                        <ul>
                            <li>Do not use a commercial car wash.</li>
                            <li>Stiff brushes or sponges could mar the finish and damage the surface.</li>
                            <li>Do not "dry wipe" your vehicle, dry wiping can scratch the finish.</li>
                            <li>Do not drive on gravel roads.</li>
                            <li>Chipping the finish can easily occur in the first 30 days.</li>
                            <li>
                                Avoid parking under trees and utility lines which are likely to attract birds, 
                                bird droppings have a high acid content and will damage a freshly painted surface. 
                                Also, tree sap can mar or spot a freshly painted surface.
                            </li>
                            <li>Do not spill gasoline, oil, antifreeze, transmission fluid, or windshield solvent on the new finish.</li>
                            <li>Do not scrape ice or snow from the newly painted surface.</li>
                        </ul>

                        <br>
                        <strong>RECOMMENDATIONS AND PRECAUTIONS IN THE FIRST 90 DAYS</strong>
                        <br>
                        <strong>DON'T -</strong>
                        <ul>
                            <li>Do not wax or polish the vehicle, this will allow the finish to dry and harden completely.</li>
                        </ul> 
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer-content") %> 
<%- include("partials/footer") %> 