<%- include("partials/header") %> 
<%- include("partials/navbar"); %>
<%- include("partials/floating-btn") %> 

<div class="page">
    <div class="banner gallary-banner">
        <h1>Gallery</h1>
    </div>

    <div class="content-area">
        <div class="content">
            <p>
                Click on <span class="emphasize-txt">thumbnail</span> for a larger view of our customers' cars...
            </p>

            <div class="container text-center">
                <div class="row gallery">  
                    <% for(let i = 1; i <= 32; i++ ) { %>  <%# NEXT TIME USE REACTTTTTT %>
                        <div class="img-holder col-lg-3 col-sm-12">
                            <a href="css/images/Gallery/pic<%= i %>.jpeg" data-modal="bs-lightbox">
                                <div class="gal-overlay">
                                    <img class="gal-pic" src="css/images/Gallery/pic<%= i %>.jpeg"  alt="photo of customers' car">
                                </div>
                            </a>
                        </div>
                    <% } %> 
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer-content") %> 
<%- include("partials/footer") %> 