<%- include("partials/header") %> 
<%- include("partials/navbar"); %>
<%- include("partials/floating-btn") %> 

<!-- CTA Section -->
<section id="CTA">
    <div class="gradient-overlay banner-content">
        <h1>
            Eco-FRIENDLY COLLISION REPAIR & 
            PAINTING AUTOWERX GENERAL MECHANICAL <br>
            REPAIR
        </h1>

        <div class="btn-div">
            <button type="button" class="btn btn-primary CTA-btn" onclick="window.location.href='/schedule-service';">Schedule Service</button>
        </div>
    </div>
</section>

<!-- Services -->
<section id="Services">
    <div class="services-area">
        <img class="car-img" src="css/images/car.png" alt="car image">

        <div class="services-content">
            <h2>Services</h2>

            <ul class="fa-ul grid-list">
                <li><span class="fa-li icon-container"><i class="fa-sharp fa-solid fa-circle-check li-icon"></i></span>Body panel repairs & refinishing</li>
                <li><span class="fa-li icon-container"><i class="fa-sharp fa-solid fa-circle-check li-icon"></i></span>Bumper repairs</li>
                <li><span class="fa-li icon-container"><i class="fa-sharp fa-solid fa-circle-check li-icon"></i></span>Collision related Brakes/Suspension work</li>
                <li><span class="fa-li icon-container"><i class="fa-sharp fa-solid fa-circle-check li-icon"></i></span>Unibody & Frame straightening & aligning</li>
                <li><span class="fa-li icon-container"><i class="fa-sharp fa-solid fa-circle-check li-icon"></i></span>Water leak specialist</li>
            </ul>

            <a class="link-btn" href="/services" type="button">All Our Services <i class="fa-sharp fa-solid fa-arrow-right animated-arrow"></i></a>
        </div>
    </div>
</section>

<!-- Services Section -->
<section id="Find-Us">
    <div class="fu-content">
        <div class="txt-col">
            <h2>VISIT BALTIMORE'S ECO-FRIENDLY ONE STOP COLLISION CENTRE & AUTOWERX SHOP</h2>

            <p>
                At Bumper Globe Collision Centre, we're dedicated to making sure our repair processes and equipment meet 
                the highest standards for health safety and environmental protection. We’re constantly researching new ways 
                to change the industry as well as the way we interact with our environment.
                <br><br>
                Bumper Globe strives to provide a relaxing environment for you and our employees with a combined of over 60 
                years of collision industry experience. As result, top notched service can be attained to restore your 
                vehicle to pre-accident condition in a timely fashion and be environmentally friendly. The bottom line is we 
                are going to take a good care of you and your vehicle!
            </p>

            <div class="btn-container">
                <button type="button" class="btn btn-primary fu-btn" onclick="window.location.href='/about-us';">About Us</button>
                <button type="button" class="btn btn-primary fu-btn" onclick="window.location.href='https://goo.gl/maps/cRcCaBAWVQaaudou8';">Find Us</button>
            </div>
        </div>

        <div class="location-col">
            <iframe 
                class="location-frame"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3088.869988090138!2d-76.6145097!3d39.268516399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c8036b3c8ec58b%3A0xf0eaa6dd353bad69!2s1845%20S%20Hanover%20St%2C%20Baltimore%2C%20MD%2021230!5e0!3m2!1sen!2sus!4v1672178494125!5m2!1sen!2sus" 
                allow="fullscreen"
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</section>

<!-- Insurance Section -->
<section id="Insurance">
    <div class="insurance-content">
        <!-- <h2>WE WORK WITH ALL INSURANCE COMPANIES*</h2> -->

        <div class="slider">
            <img class="slider-item first" src="css/images/Insurance/Liberty-Mutual.png" alt="insurance logo 1">
            <img class="slider-item" src="css/images/Insurance/aaa.png" alt="insurance logo 2">
            <img class="slider-item" src="css/images/Insurance/Allstate.png" alt="insurance logo 3">
            <img class="slider-item" src="css/images/Insurance/Nationwide.png" alt="insurance logo 4">
            <img class="slider-item" src="css/images/Insurance/Primerica.png" alt="insurance logo 5">
            <img class="slider-item" src="css/images/Insurance/State-Farm-Logo.png" alt="insurance logo 6">
            <img class="slider-item" src="css/images/Insurance/Liberty-Mutual.png" alt="insurance logo 1">
            <img class="slider-item" src="css/images/Insurance/aaa.png" alt="insurance logo 2">
            <img class="slider-item" src="css/images/Insurance/Allstate.png" alt="insurance logo 3">
            <img class="slider-item" src="css/images/Insurance/Nationwide.png" alt="insurance logo 4">
            <img class="slider-item" src="css/images/Insurance/Primerica.png" alt="insurance logo 5">
            <img class="slider-item" src="css/images/Insurance/State-Farm-Logo.png" alt="insurance logo 6">
        </div>

        <p>
            *We work with all insurance companies
        </p>
    </div>
</section>

<!-- QW Section -->
<section id="Quality Workmanship">
    <div class="workmanship-content">
        <div class="QW-img">
            <img src="css/images/man-with-bumper.png" alt="man holding bumper">
        </div>
        
        
        <div class="txt-col">
            <h2>QUALITY WORKMANSHIP</h2>
            <p>
                Bumper Globe Collision will work with your insurance provider to alleviate claim hassles 
                and offer prompt customer service to allow us to begin working on your vehicle immediately. 
                It is your legal right to choose your own repair facility for your car and service. 
                Bumper Globe is also pleased to provide rental car and towing assistance.
            </p>
        </div>
        
    </div>
</section>

<%- include("partials/footer-content") %> 
<%- include("partials/footer") %> 