<%- include("partials/header") %> 
<%- include("partials/navbar"); %>
<%- include("partials/floating-btn") %> 

<div class="page">
    <div class="banner process-banner">
        <h1>Our Process</h1>
    </div>

    <div class="content-area">
        <div class="content">
            <p>
                <strong>Understanding the Repair Process</strong>
                <br>
                What does it actually take to repair a vehicle to the exacting standards required at 
                Bumper Globe Collision Centre...

                <br>
                <h2>Why does it sometimes seem to take longer than expected?</h2>
                We get these questions most often of all. Realizing that many customers don't know the detailed work involved, 
                the following is an outline of the steps involved to repair your vehicle when you bring it to the 
                Bumper Globe Collision Centre. In quite many cases, hidden damages are discovered during the teardown and 
                caused a bit delay which requires customer and insurance approval for additional work.  Each step is completed 
                fully and accurately with attention to detail, guaranteeing that your vehicle is repaired to its original 
                pre-accident condition. Remember, you have rights to choose your own shop other than insurance's preferred 
                shop and we follow insurance's written estimate and agreed repair cost.

                <br><br>
                <strong>There are <span class="emphasize-txt">4 Phases</span> to the Repair Process</strong>

                <br><br>
                <h3><span class="emphasize-txt">Phase 1</span> - Estimate</h3>
                <ul>
                    <li>Claim Number or Repair Order Number</li>
                    <li>Computerized CCCOne Estimate Prepared</li>
                    <li>Estimated Completion Date Given</li>
                    <li>Owner Signs Repair Authorization</li>
                    <li>Insurance Negotiations Completed</li>
                    <li>Parts Ordered Via Fax</li>
                    <li>Parts Received</li>
                </ul>

                <br>
                <h3><span class="emphasize-txt">Phase 2</span> - Prep</h3>
                <ul>
                    <li>Vehicle Scheduled In For Repairs</li>
                    <li>Vehicle Disassembled & Re-inspected</li>
                    <li>Supplement Report Written If Necessary</li>
                    <li>Supplement Approved</li>
                    <li>Additional Parts Ordered If Necessary</li>
                    <li>Scheduled Completion Date Given</li>
                </ul>

                <br>
                <h3><span class="emphasize-txt">Phase 3</span> - Body Work</h3>
                <ul>
                    <li>Structural & Body Repairs</li>
                    <li>Vehicle Set Up On Unibody Repair Equipment</li>
                    <li>New Panels Prepared & Installed</li>
                    <li>Priming, Sealing & Corrosion Protection</li>
                    <li>All Work QC Inspected, Initial Tests Done, Ready For Paint Department</li>
                </ul>

                <br>
                <h3><span class="emphasize-txt">Phase 4</span> - Paint Prep/Paint</h3>
                <ul>
                    <li>Pressure Washed & Biodegradable Cleaned</li>
                    <li>Vehicle Prepped, Primed, Sanded & Sealed</li>
                    <li>All Work QC Inspected﻿  Taped, Bagged, Masked, & Placed In Down Draft Spray Booth</li>
                    <li>Vehicle Undergoes Multi-Step Refinishing Process Using PPG Paint System</li>
                    <li>Reassembly, Wheel Alignment, Air Conditioning, Detailing, Final QC Inspection & Test Drive</li>
                    <li>Repairs Complete, Owner Notified With Confirmation For Delivery via Phone/Text/Email</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<%- include("partials/footer-content") %> 
<%- include("partials/footer") %> 