<%- include("partials/header") %> 
<%- include("partials/navbar"); %>
<%- include("partials/floating-btn") %> 

<div class="page">
    <div class="banner services-banner">
        <h1>Services</h1>
    </div>

    <div class="content-area">
        <div class="content">
            <p>
                Choose Bumper Globe Collision Centre for whether you have a cracked bumper, broken outside mirror 
                or a panel with an enormous crease dent. 
                <br><br>
                Our services include all aspect of collision repairing department:

                <ul>
                    <li>Body panel repairs & refinishing</li>
                    <li>Bumper repairs</li>
                    <li>Collision related Brakes/Suspension work</li>
                    <li>Unibody & Frame straightening & aligning</li>
                    <li>Water leak specialist</li>
                </ul>

                Bumper Globe specializes in quality collision repairs and provides services for all makes and models.  
                We are happy to offer <a class="in-line-a" href="/contact-us">FREE ESTIMATES</a>.
                <br><br>

                <strong>Legal note:</strong> You have the right to choose any repair facility other than your insurance recommended shop. 
                You are not required to have your car inspected at your insurer's drive in claim center. You may choose to 
                drop off your car at our repair facility. And your insurance adjustor will inspect there. We will work with your 
                insurance to streamline the claim handling. 
                <br><br>

                Need a safe area for you to take your car to within the Baltimore city? Rest assured, we are situated in 
                beautiful Federal Hill known for its historical landmarks and America's best Main Street loaded up with boutique 
                stores, cuisine restaurants and taverns!
                <br><br>

                <strong>Limited Lifetime Warranty on Workmanship & Paint</strong>

                <br>
                FREE MINI DETAILING WITH MAJOR REPAIRS
                <br><br>

                Drive thru bay for estimate and service drop off. After hour key drop outside the bay door for added convenience.

                <br><br><br>
                <h2>autowerx GENERAL MECHANICAL REPAIR SERVICE</h2>

                <ul>
                    <li>Imports & Domestics</li>
                    <li>Authorized Maryland State Inspection</li>
                    <li>Check Engine Light</li>
                    <li>Dealer Level Programming</li>
                    <li>Brakes</li>
                    <li>Suspension/Alignment</li>
                    <li>Drivetrain</li>
                    <li>Air Bag Service</li>
                    <li>Authorized Interstate battery centre</li>
                    <li>Water pump</li>
                    <li>Radiator</li>
                    <li>Air Conditioning Recharging & Leak Diagnosis - R134A & R1234YF</li>
                    <li>Oil Leak Diagnosis</li>
                    <li>General Engine Repairs</li>
                    <li>Diesel Repairs</li>
                    <li>Electrical Diagnosis</li>
                    <li>European Repairs</li>

                    <br>

                    <li>Authorized Hunter alignment service</li>
                    <li>Hunter Road Force GSP9700 tire balancer</li>
                    <li>TCX50 tire changer (up to 26" wheel)</li>
                    <li>Hawkeye Elite aligner</li>
                    <li>RX12 alignment rack rated up to 12000 lbs gross vehicle weight</li>

                    <br>

                    <li>10% DISCOUNT ON MECHANICAL REPAIR TOTAL IN CONJUNCTION WITH COLLISION REPAIR</li>
                </ul>

                <strong>ASE MASTER TECHNICIANS ON PREMISE</strong>
                <br>
                Cars $75 SUV/Trucks $95

                <br><br><br>
                <h2>GLOBE EXPRESS</h2>
                Bumper Globe offers Globe Express for drivable vehicles with claims for body damage up to $1000 
                for a faster turnaround without compromising quality.

                <br><br>
                Our experienced staff will assess your car to see if it meets the Globe Express criteria. 
                We will recommend the best repair option along with a timeframe for completion.   
                
                Click on <a class="in-line-a" href="/our-process">Repair Process </a>for more information. 
            </p>
        </div>
    </div>
</div>

<%- include("partials/footer-content") %> 
<%- include("partials/footer") %> 