<%- include("partials/header") %> 
<%- include("partials/navbar"); %>
<%- include("partials/floating-btn") %> 

<div class="page">
    <div class="banner tour-banner">
        <h1>Tour & Equipment</h1>
    </div>

    <div class="content-area">
        <div class="content">
            <p>
                Bumper Globe has made a major investment to purchase state-of-the-art equipment for its 11k 
                square foot repair facility. Our I-CAR and ASE certified technicians will utilize the most current, 
                efficient repairing techniques to restore your vehicle back to pre-accident condition.

                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <img class="tour-pic" src="css/images/Tour&Equipment/image1.png" alt="photo of shop/equipment">
                            <p class="img-caption">ABS Semi-Downdraft Prep Stations</p>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <img class="tour-pic" src="css/images/Tour&Equipment/image3.jpeg" alt="photo of shop/equipment">
                            <p class="img-caption">CMC Concorde Full Downdraft Baking Spray Booth</p>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <img class="tour-pic" src="css/images/Tour&Equipment/image4.jpg" alt="photo of shop/equipment">
                            <p class="img-caption">
                                Chief EZ Liner S21 Frame Machine - Chief Velocity Computerized Laser Measuring System
                            </p>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <img class="tour-pic" src="css/images/Tour&Equipment/image5.jpg" alt="photo of shop/equipment">
                            <p class="img-caption">
                                Our eco-friendly PPG Envirobase High Performance waterborne system combines a state-of-the-art 
                                color-matching computer with paint mixing capabilities.  PPG is a world leader in automotive 
                                paint. 
                                <br><br>
                                This allows us to give you the best paint match in the industry and a limited lifetime paint 
                                guarantee. All this is accomplished while protecting the environment by minimizing the amount 
                                of products used and wasted.
                            </p>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <img class="tour-pic" src="css/images/Tour&Equipment/image6.jpg" alt="photo of shop/equipment">
                            <p class="img-caption">
                                Prospot PR-10 Spot Welder duplicates OEM spot welds.  
                                Approved by GM, Nissan, Honda, Toyota, SAAB, Volvo, Ford
                            </p>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <img class="tour-pic" src="css/images/Tour&Equipment/image7.jpg" alt="photo of shop/equipment">
                            <p class="img-caption">
                                Hunter Hawkeye Elite Winalign Alignment No mar wheel target clamps & drive on flush 
                                alignment rack for low clearance cars & Rotary lifts
                            </p>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <img class="tour-pic" src="css/images/Tour&Equipment/image2.jpg" alt="photo of shop/equipment">
                            <p class="img-caption">
                                Kaeser SM10 Screw Air Compressor and Refrigerated Air Dryer for Superior Compressed Air Management 
                            </p>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <img class="tour-pic" src="css/images/Tour&Equipment/image8.jpg" alt="photo of shop/equipment">
                            <p class="img-caption">
                                Car-o-liner bench rack and Car-tronics Vision frame measuring computer.  CTR12000 Spot Welder.
                            </p>
                        </div>
                    </div>
                </div>

                <p class="important-txt">
                    <strong>*APPROVED BY ALL CAR MANUFACTURERS</strong>
                </p>

                <h2 class="fac-tour-heading">FACILITY TOUR</h2>

                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <img class="tour-pic" src="css/images/Tour&Equipment/image9.jpeg" alt="photo of shop/equipment">
                            <p class="img-caption">
                                (Formerly Pabst Brewery Circa 1900)
                                <br>
                                Located in beautiful Federal Hill!
                                Construction and fixture materials were reclaimed from a local architectural salvage demolition to promote recycling.
                            </p>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <img class="tour-pic" src="css/images/Tour&Equipment/image10.jpg" alt="photo of shop/equipment">
                            <p class="img-caption">
                                Circa 1900s stable for Pabst Brewery's wagon horses has been converted into a large and comfortable 
                                waiting area with complimentary Java and Tea as well as free Wifi Internet. Baby changing station and 
                                children playroom on premise.
                            </p>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <img class="tour-pic" src="css/images/Tour&Equipment/image11.jpeg" alt="photo of shop/equipment">
                            <p class="img-caption">
                                Enterprise car rental kiosk / agents on premise for your rental car on the fly for added convenience.
                            </p>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <img class="tour-pic" src="css/images/Tour&Equipment/image12.jpg" alt="photo of shop/equipment">
                            <p class="img-caption">
                                Pabst Brewery Castle 1896 - 1920
                                <br>
                                (in the rear of the Bumper Globe Collision Centre on S. Charles St).
                            </p>
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </div>   
</div>

<%- include("partials/footer-content") %> 
<%- include("partials/footer") %> 